<!DOCTYPE html>
<html lang="en">
  <!-- bootstrap-based template structure -->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block jquery %}
    {% endblock %}

    {% block js %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% block css %}{% endblock %}
  </head>

  <body {% block body_tag %} {% endblock %}>
    {% block js_body_first %}{% endblock %}

    {% block main_content %}
    {% endblock %}

  <footer>
    {% block footer %}
        <p>&copy; Example  {% now "Y" %}</p>
    {% endblock %}
  </footer>

  {% block js_before_last %}{% endblock %}
  {% block js_last %}{% endblock %}
  </body>
</html>
