{% extends "base.html" %}

{% load tags %}

{% block main_content %}
	{% block actions %}
		<a class="btn" href="{% url app_label|add:'-'|add:actual_model_name|add:'-update' object.id %}"><i class="icon-edit"></i>Update</a>
		<a class="btn" href="{% url app_label|add:'-'|add:actual_model_name|add:'-delete' object.id %}"><i class="icon-remove-sign"></i>Delete</a>
	{% endblock %}
<hr/>

<b>APP :</b> {{app_label}}<br/>
<b>MODEL : </b>{{actual_model_name}}<br/>
<b>PLURIZED MODEL :</b> {{pluralized_model_name}}<br/>

<h3>{{object}}</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for field in object|get_model_fields %}
        	<tr>
        		<td>{{field.name|undertospaced}}</td>
        		<td>{{object|get_value:field.name}}</td>
        	</tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
