{% extends "base.html" %}
{% load tags %}

{% block main_content %}

<b>APP :</b> {{app_label}}<br/>
<b>MODEL : </b>{{actual_model_name}}<br/>
<b>PLURIZED MODEL :</b> {{pluralized_model_name}}<br/>

<div id="title">
	<h3>Create {{actual_model_name|title}}</h3>
</div>

<form action="." method="post">
	{% csrf_token %}
	{% for field in form %}
		<div class="fieldWrapper">
        	{{ field.errors }}
        	{{ field.label_tag }} {{ field }}
    	</div>
	{% endfor %}
	<input type="submit" value="Submit" />
</form>
{% endblock %}
