{% extends "base.html" %}
{% load tags %}

{% load crispy_forms_tags %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/datepicker.css">
{% endblock %}

{% block js %}
	<script src="/static/js/bootstrap/bootstrap-datepicker.js"></script>
	<script>
		$(function() {

		{% for field in form %}
			{% if field|get_field_type == "DateField" %}
				$("#id_{{field.name}}").datepicker({format: 'yyyy-mm-dd'});
			{% endif %}
		{% endfor %}
		});
	</script>
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>    
    <li><a href="/{{form|get_model_for_form|lower|make_plural}}">{{form|get_model_for_form|make_plural|undertospaced}}</a> <span class="divider">/</span></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a> <span class="divider">/</span></li>
    <li class="active">Update {{form|get_model_for_form|undertospaced}}</li>
</ul>
{% endblock %}

{% block main_content %}
APP : {{app_label}}
MODEL : {{actual_model_name}}
PLURIZED MODEL : {{pluralized_model_name}}

<div id="title">
	<h3>Update {{form|get_model_for_form|undertospaced}}</h3>
</div>
	{% crispy form %}

{% endblock %}
