{% extends "base.html" %}
{% load i18n %}



{% comment %}

{% block breadcrumb %}

{% breadcrumb "" "Password Change" %}

{% endblock %}

{% endcomment %}

{% block main_content %}

<div id="title"><h3>Password change</h3></div>

<hr/>

Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.


		
<div id="form_nonfield_errors">

{{ form.non_field_errors }}

</div>
			
<div class="password_forms">

<form action="." method="post">

      <div id="password_row">
    		   		
    		<div id="password_reset_errors">

			{{ form.old_password.errors }}

			</div>
		
			<div id="password_label">
       			 
       		Old password:
			
			</div>

			<div id="password_input">
      
			{{ form.old_password }}
			
			</div>
    
  	  </div>

<br/>

	 <div id="password_row">
        
        
        
        <div id="password_reset_errors">

		{{ form.new_password1.errors }}

		</div>
		
		
		
		<div id="password_label">

		New password:

		</div>

		<div id="password_input">

		{{ form.new_password1 }}

		</div>
   
   </div>

<br/>

   <div id="password_row">
   
   		
   		
   		<div id="password_reset_errors">

		{{ form.new_password2.errors }}

		</div>
		
		
		
		<div id="password_label">

		Password (again):

		</div>

		<div id="password_input">

		{{ form.new_password2 }}

		</div>

  </div>

<br/>

   
	<div id="password_submit">

	<p><input type="submit" value="Change my password" /></p>
    
	</div>
    
     
	</form>

	</div>

{% endblock %}



