{% extends "base.html" %}
{% load i18n %}



{% block main_content %}

<h3>Enter new password</h3>

<hr/>
<br/>
Please enter your new password twice so we can verify you typed it in correctly.

<div id="new_password_reset_errors">

{% if form.errors %}

<ul> <li>Both passwords didn't match / both fields are required. </li></ul>

{% endif %}


</div>

<div id="form_non_errors">

{{ form.non_field_errors }}

</div>


<div class="pwd_forms">

<form action="." method="post">
	
    	<div id="pwd_fieldWrapper">

			<div id="pwd_label">
       			 
       			 <label for="id_new_password1">New password:</label>
			
			</div>

			<div id="pwd_input">
        	
        	{{ form.new_password1 }}
			
			</div>

    	</div>

<br/>


    <div id="pwd_fieldWrapper">
    
		<div id="pwd_label">

		<label for="id_new_password2">Password (again):</label>

		</div>

		<div id="pwd_input">
        
        {{ form.new_password2}}
	
		</div>
    
    </div>
    
<br/>

   
<div id="pwd_submit_form">

    <p><input type="submit" value="Change my password" /></p>

</div> 

</form>

</div>

{% endblock %}
