{% extends "base.html" %}
{% load i18n %}

{% block main_content %}

<div id="title"><h3>Password reset</h3></div>

<hr/>

Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.

<br/>

<br/>


<div id="email_password_reset_errors">
        				
{{ form.email.errors }}

</div>

<form method="post" action=".">



<div class="pswd_reset_form">





<div id="fieldWrapper">

				<div id="email_label">
				
       				 <label for="id_email">Email Address:</label>
 
 				</div>
 
 				<div id="email_input">
 
 				     {{ form.email }}
 				     
				</div>
   

</div>

   <div id="submit_form1">
  <input type="submit" value="{% trans 'Reset my password' %}" />
  </div>  



  </div>

</form>

{% endblock %}